  body {
    font-family: Arial, sans-serif;
    background-color: #f2f4ff;
    text-align: center;
    margin: 0;
}

header {
    background-color: #6c63ff;
    color: white;
    padding: 20px;
}

section {
    padding: 60px 20px;
}

button {
    transition: 0.3s;
    background-color: #6c63ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4b47c2;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
nav {
    background-color: #4b47c2;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffd700;
}
form input, form textarea {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form textarea {
    height: 100px;
}
.active{
     border-bottom: 3px solid #ffd700;
}
.card h3 {
     color:#4b47c2;
}
section h3{
    margin-top: 30px;
    color: #4b47c2;
}
section p{
    max-width: 800px;
    margin:auto;
    line-height: 1.6;
}
.info-section {
    background: linear-gradient(to right, #e3f2fd, #fce4ec);
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    margin: 30px;
    box-shadow:0px 4px 15px rgba(0,0,0,0.2);
    margin-bottom: 15px;
}
.learn-image {
    width: 40%;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.signs-img{
    width:40%;
    display: block;
    margin: 30px auto;
    border-radius: 15px;

}